.footerB {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  margin-top: 72rem;
  height: 2.5rem;
  width: 120rem;
  background-color: #c4974aa5;
}
.footerA {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 95%;
  height: 3rem;
  background-color: #c4974aa5;
}
.footerAA {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 118.95rem;
  position: absolute;
  top: 110%;
  height: 3rem;
  background-color: #c4974aa5;
}
.cText {
  font-weight: 500;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
  left: 25%;
}
.Ctext {
  font-weight: 500;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
  left: 25%;
}
.dText {
  margin-top: -0.25rem;
  font-size: 14px;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  right: 25%;
}
.Dtext {
  margin-top: -0.25rem;
  font-size: 14px;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1.5rem;
  right: 25%;
}

@media (max-width: 690px) {
  .footerB {
    margin-top: 80rem;
    position: absolute;
    height: 2.5rem;
    width: 25.6rem;
    background-color: #c4974aa5;
  }
  .cText {
    margin-left: 1rem;
    font-weight: 500;
  }
  .dText {
    position: absolute;
    margin-left: 7rem;
    margin-top: -0.25rem;
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .footerB {
    top: 230%;
    position: absolute;
    height: 10rem;
    width: 185vh;
    background-color: #c4974aa5;
  }
  .cText {
    font-size: 41px;
    font-weight: 700;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 150rem;
    margin-bottom: 5rem;
  }

  .dText {
    font-weight: 700;
    margin-top: 1rem;
    font-size: 36px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 2.2rem;
  }
  .footerA {
    top: 380%;
    position: absolute;
    height: 10rem;
    width: 185vh;
    background-color: #c4974aa5;
  }
  .footerAA {
    top: 450%;
    position: absolute;
    height: 10rem;
    width: 185vh;
    background-color: #c4974aa5;
  }
  .Ctext {
    font-size: 38px;
    font-weight: 700;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 150rem;
    margin-bottom: 4rem;
    left: 17%;
  }
  .Dtext {
    font-weight: 700;
    margin-top: 3rem;
    font-size: 36px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    right: 30%;
  }
}
