{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href='{%static "src/css/catalog.css"%}' />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="book">
      <div id="pages" class="pages">
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/1.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/2.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/3.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/4.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/5.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/6.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/7.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/8.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/9.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/10.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/11.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/12.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/13.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/14.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/15.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/16.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/17.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/18.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/19.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/20.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/21.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/22.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/23.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/24.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/25.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/26.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/27.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/28.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/29.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/30.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/31.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/32.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/33.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/34.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/35.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/36.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/37.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/38.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/39.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/40.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/41.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/42.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/43.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/44.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/45.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/46.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/47.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/48.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/49.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/50.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/51.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/52.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/53.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/54.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/55.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/56.jpg'%}')"
        ></div>
        <div
          class="page"
          style="background-image: url('{%static 'src/img/ghorfesaazi/57.jpg'%}')"
        ></div>
      </div>
    </div>

    <script src='{%static "src/js/catalog.js"%}'></script>
  </body>
</html>
